.submitButtonSubmissionPage{

    /* width: 10rem; */
    background-color: #ed3237;
    color: white;
}

.break{

    height: 1rem;
}

#SubmissionContainer{

    width: 100%;
    max-width: 1920px;

    background-color: white;

    height: 100svh;
}

#SubmissionBody{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: #E9E9E9;
}

.paperReviewProcess{
    font-size: 2.25rem;
    line-height: 2.5rem;

    color: #393464;
    font-weight: 900;

}

@media (min-width:1024px) {
    .paperReviewProcess{
        font-size: 3rem;
        line-height: 1;
    }
}

@media (min-width:1280px) {
    .paperReviewProcess{
        font-size: 3.75rem;
        line-height: 1;
    }
}


@media (min-width:1536px) {
    .paperReviewProcess{
        font-size: 4.5rem;
        line-height: 1;
    }
}